@import url('https://fonts.googleapis.com/css?family=Karla');

body{font-family: 'Karla', sans-serif; }

#separacao_topo{
    margin-top: 2px;
    margin-bottom: 5px;
    color: #5d33fd;
}
.alignleft{float:left;}
.alignright{float:right;}
.aligncenter {display: block; margin-left: auto; margin-right: auto}
img{margin: 5px;}
/***********************/



.conteudo{
    background-color: white;
}

.custom-logo{border: 0px solid red;
width: 99%;
height: auto;
}




.home{
    margin-bottom: 1px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    
}

.home img{border-radius: 4px;}

.home h1,.home h2, .home h3{
    display: block; margin-left: auto; margin-right: auto;
    font-weight: bold;
    text-transform: capitalize;
}

footer{
    margin-top: 50px;
    height: 200px;
    background-color: black;
}


