#separacao_topo{
    margin-top: 2px;
    margin-bottom: 5px;
    color: #5d33fd;
}
.alignleft{float:left;}
.alignright{float:right;}
.aligncenter {display: block; margin-left: auto; margin-right: auto}
img{margin: 5px;}
/***********************/


.custom-logo{border: 0px solid red;
width: 99%;
height: auto;
}

/**********/
.navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
/**********/
.menu_topo{
    border: 0px solid #00ff6f;
    align-content: left;
    float: left;
    display: block;
    margin-top: 15px;
}
.menu_topo ul{margin: 0; padding: 0;}
.menu_topo ul li{
    float: left;
    padding: 3px;
    margin: 3px;
    list-style: none;
    border-right: 1px solid red;
}
.menu_topo ul li:hover{
     /*border-bottom: 1px solid red;*/
}
/**********/


.home{
    margin-bottom: 1px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.home img{border-radius: 4px;}

.home h1,.home h2, .home h3{
    display: block; margin-left: auto; margin-right: auto;
    font-weight: bold;
    text-transform: capitalize;
}

footer{
    margin-top: 50px;
    height: 200px;
    background-color: black;
}